@{
    ViewData["Title"] = "Game";
    Layout = "_PlayerLayout";
}

<div class="game-page">
    <section class="left-section">
        <span class="title">Доступные разделы</span>
        <div class="middle-block game-sections__wrapper">
            <div class="game-sections">
                <div id="mobs-section" class="game-sections__item">
                    <img src="~/pictures/section_icons/creature.svg" alt="">
                    <span>Существа</span>
                </div>
                <div id="locations-section" class="game-sections__item">
                    <img src="~/pictures/section_icons/location.svg" alt="">
                    <span>Локации</span>
                </div>
                <div id="items-section" class="game-sections__item">
                    <img src="~/pictures/section_icons/armory.svg" alt="">
                    <span>Предметы</span>
                </div>
                <div id="heroes-section" class="game-sections__item">
                    <img src="~/pictures/section_icons/hero.svg" alt="">
                    <span>Герои</span>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="guide-step">
                <h1 class="guide-step__number">1</h1>
                <span class="guide-step__text">Выберите раздел</span>
            </div>
        </div>
    </section>
    <section class="middle-section">
        <span class="title" id="selected-section-name">Герои</span>
        <div class="middle-block game-elements__wrapper">
            <div class="game-elements">
                @* filled up via script *@
            </div>
        </div>
        <div class="footer">
            <div class="guide-step">
                <h1 class="guide-step__number">2</h1>
                <span class="guide-step__text">Выберите элемент</span>
            </div>
        </div>
    </section>
    <section class="right-section">
        <span class="title">Описание</span>
        <div class="middle-block game-description__wrapper">
            @* filled in via script *@
        </div>
        <div class="footer">
            <div class="guide-step">
                <h1 class="guide-step__number">3</h1>
                <span class="guide-step__text">Прочитайте описание</span>
            </div>
        </div>
    </section>
    <div class="info">
        <span class="title"></span>
        <div class="middle-block">
            <img src="~/icons/svg/info.svg" alt="" class="info__icon">
            <p class="info__text">Выберите игровой раздел из списка слева.</p>
        </div>
        <div class="footer">
        </div>
    </div>

    @* Decorative blocks on top and bottom *@
    <div class="top-line"></div>
    <div class="bottom-line"></div>
</div>

<script>
    document.getElementById('game-link').classList.add('selected');
</script>
<script src="~/js/gameTransitions.js"></script>
<script src="~/js/gameElementsSelector.js"></script>
<script src="~/js/gameSectionsSelector.js"></script>