@{
    ViewData["Title"] = "Shop";
    Layout = "_PlayerLayout";
}

<div class="shop-page">
    <section class="left-section">
        <span class="title">Доступные категории</span>
        <div class="middle-block item-categories__wrapper">
            <div class="item-categories">
                @foreach (var category in ViewBag.ItemCategories)
                {
                    <div class="item-categories__item">
                        <span class="category__id" hidden>@category.Id</span>
                        <img class="category__icon" src="~/pictures/category_icons/@category.Icon" alt="" />
                        <span class="category__name">@category.Name</span>
                    </div>
                }
            </div>
        </div>
        <div class="footer">
            <div class="guide-step">
                <h1 class="guide-step__number">1</h1>
                <span class="guide-step__text">Выберите категорию</span>
            </div>
        </div>
    </section>
    <section class="right-section">
        <div class="title">Список предметов</div>
        <div class="middle-block items__wrapper">
            <div class="items">
                <span class="items__title">Оружие</span>
                <div class="items__grid">
                    @* filled in via script *@
                </div>
            </div>
            <span hidden class="character__id">@ViewBag.SelectedCharacter.Id</span>
            <div class="gold-balance">
                <img class="gold-balance__icon" src="~/icons/svg/coins2.svg" alt="">
                <span class="gold-balance__value">@ViewBag.SelectedCharacter.Gold</span>
            </div>
        </div>
        <div class="footer">
            <div class="guide-step">
                <h1 class="guide-step__number">2</h1>
                <span class="guide-step__text">Выберите предмет</span>
            </div>
        </div>
    </section>
    <div class="info">
        <span class="title"></span>
        <div class="middle-block">
            <img src="~/icons/svg/info.svg" alt="" class="info__icon">
            <p class="info__text">Выберите категорию предметов в списке слева.</p>
        </div>
        <div class="footer">
        </div>
    </div>

    @* Decorative blocks on top and bottom *@
    <div class="top-line"></div>
    <div class="bottom-line"></div>
</div>

@* Hidden dialog box #1 *@
<div id="item-selected-dialog-box" class="dialog-wrapper" hidden>
    <div class="dialog-box">
        <h3 class="dialog-box__title">Покупка предмета</h3>
        <div class="dialog-box__content">
            <span hidden class="dialog-item__id"></span>
            <img class="dialog-item__icon" src="~/pictures/item_icons/blade_mail.png" alt="">
            <table class="dialog-item__info">
                <tr class="item-name">
                    <td class="item-name__title">Предмет:</td>
                    <td class="item-name__value">Boots of Travel</td>
                </tr>
                <tr class="item-amount">
                    <td class="item-amount__title">Количество:</td>
                    <td class="item-amount__value">
                        <select>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr class="item-price">
                    <td class="item-price__title">Стоимость:</td>
                    <td class="item-price__value">2100</td>
                </tr>
            </table>
        </div>
        <div class="dialog-box__buttons">
            <button class="cancel accent without-hover-up">Назад</button>
            <button id="buy-item-button" class="close accent without-hover-up">Купить</button>
        </div>
    </div>
</div>

@* Hidden dialog box #2 *@
<div id="successful-purchase-dialog-box" class="dialog-wrapper" hidden>
    <div class="dialog-box">
        <h3 class="dialog-box__title success">Покупка предмета</h3>
        <p class="dialog-box__message">
            Предмет успешно добавлен в ваш <a asp-action="MyCharacters" asp-controller="Player">Инвентарь</a>.
        </p>
        <button class="dialog-box__button accent close without-hover-up">Закрыть</button>
    </div>
</div>

@* Hidden dialog box #2 *@
<div id="failed-purchase-dialog-box" class="dialog-wrapper" hidden>
    <div class="dialog-box">
        <h3 class="dialog-box__title fault">Покупка предмета</h3>
        <p class="dialog-box__message">
            У вашего персонажа <b>не хватает</b> золота для совершения покупки.
        </p>
        <button class="dialog-box__button accent close without-hover-up">Закрыть</button>
    </div>
</div>

<script>
    document.getElementById('shop-link').classList.add('selected');
</script>
<script src="~/js/shopTransitions.js"></script>
<script src="~/js/shopItemSelector.js"></script>
<script src="~/js/shopCategorySelector.js"></script>
<script src="~/js/itemPurchase.js"></script>